/*стили для главного меню*/
.main-menu{
  background-color: #2c2c2c;
  height: 4em;
  width:106%;
  margin: -8px;
  text-align: center;
}
/* Text style for "h, ome" */
.main-menu a{
  width: 100%;
height: 12px;
color: #e0e0e0;
font-family: "Open Sans";
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 0.49px;
  color: #ffffff;
  text-decoration: none;
  vertical-align: -95%;
  margin: 2.3em;
  width: 100px;
  height: 200px;
}
.main-menu a:hover {
    background-color:#ff3f40; /* Цвет фона под ссылкой */
    color: #ffffff; /* Цвет ссылки */
    padding: 1.7em;
}
.main-menu a:active {
    background-color: #ff3f40; /* Цвет фона под ссылкой */
    color: #ffffff; /* Цвет ссылки */
    padding: 1.7em;
}
/* конец стилей для главного меню стили для главного меню*/



/*стили для информации про нас*/

.about_us{
  display: grid;
   grid-template-columns: 50% 50%;
  width:106%;
  background-color: #f6f2f2;
  height: auto;
  margin: 0.6em -8px ;

}
.text_about_us{
  width: 50%;
  background-color: #f6f2f2;

}
.text_about_us h1{
  margin: 5% 0;
  background-color: #f6f2f2;
  width: 159%;
  height: auto;
  color: #000000;
  font-family: "Open Sans - Extrabold";
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  text-transform: uppercase;
/* Text style for "o, ur stro" */
  letter-spacing: 1.5px;
/* Text style for "organaisat" */
  letter-spacing: 6px;
  margin: 5% 5%;
}

.text_about_us p{
  width: 75%;
  margin: 10% 15%;
  background-color: #f6f2f2;

}
.video iframe{
  position: relative;
  align: left;
  margin: 2em;
  background-color: #f6f2f2;

  box-shadow: 0 0 20px rgba(0,0,0.5);

}


.content-type{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 9em;
}
.text-content{
  margin: 0% 2.5%;
}
h2{
  /*margin: 5% 5%;
  /* Style for "do you kno" */
  width: 100%;
  height: auto;
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  /* Text style for "do you kno" */
  letter-spacing: 0.42px;


}
.text-content p{
    margin: 0% 2.5%;
//*  margin: 15% 10% 0;
  /* Style for "Lorem ipsu" */
width: auto;
height: auto;
color: #000000;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 28px;
}

.text-content button{
  margin: 0% 2.5%;
/*  margin: 0% 15%;*/
  border-radius: 4px ;
  border-color: #ff2d2d;
  width: auto;
  height: 40px;
  background-color: #ffffff;
  color: #ff2d2d;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
/* Text style for "L, earn Mo" */
  letter-spacing: 0.32px;
}
.album_with_text {
  display: grid;
  grid-template-columns: 50% 50%;

}
.album_with_text img{
    margin: 2em 0;

}


.album_with_text h4{
  /* Style for "Management" */
  width: auto;
  height: auto;
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans - Semibold";
  font-size: 24px;
  font-weight: 400;
  /* Text style for "M, anageme" */
  letter-spacing: 0.27px;
  margin: -1.2em 0;
}

.album_with_text p{
  width: auto;
height: auto;
color: #000000;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 28px;
  margin: 2em 0;
}



/* Solid border */
hr.solid {
  border-top: 1px solid #bbb;
  width: 40%;
  align: center;
}


hr.soliding {
  border-top: 1px solid #ff2d2d;
  width: 10%;
  align: center;
}

.some-text {
  text-align: center;
  /*margin:  5em 0;*/
  height: auto;
}


.some-text p{
  text-align: center
  width: 504px;
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
/*  line-height: 28px;*/
}
.albun-nav{
text-align: center;
height: auto;
  margin:  2em 0em;
}
.albun-nav a{

width: 101px;
height: 17px;
opacity: 0.7;
color: #000000;
font-family: "Open Sans - Semibold";
font-size: 22px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
/* Text style for "m, ock-up" */
letter-spacing: 0.22px;
text-decoration: none;
margin: 1em;
}


.albun-nav a:hover{

  color: #ff2d2d;
}


.albom{
  height: auto;
  margin:  2em 2em;
  /*align-content: center;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
}

div.gallery:hover {
  border: 1px solid #f6f2f2;
}

div.gallery img {
  width: 100%;
  height: auto;
}
.meet_oor_team{
  margin:  5em 1.7em;
}

.meet_oor_team p{
  /* Style for "Lorem ipsu" */
width: 25%;
height: auto;
opacity: 0.7;
color: #000000;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 28px;
  margin:  2em 3em  0;
}


.meet_our_team_album{
  margin:  5em 1.7em;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 3em;

}

h3{
opacity: 0.8;
color: #000000;
font-family: "Open Sans - Semibold";
font-size: 30px;
font-weight: 400;
text-transform: uppercase;
/* Text style for "m, ark wau" */
letter-spacing: 0.28px;
}
.text_for_album{
  margin:  -2em 0;
}
.text_for_album p{
  opacity: 0.7;
color: #000000;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 28px;
}
ul.hr {
 margin: 0; /* Обнуляем значение отступов */
 padding: 4px; /* Значение полей */
}
ul.hr li {
 display: inline; /* Отображать как строчный элемент */
 margin-right: 5px; /* Отступ слева */
 padding: 3px; /* Поля вокруг текста */
 opacity: 0.8;
 color: #000000;
 font-family: "Open Sans";
 font-size: 16px;
 line-height: 24px;
 /* Text style for "D, ribble" */
 letter-spacing: 0.9px;x;
 font-style: italic;

}

.subscribe{
  background-color: #f6f2f2;
  width: 100%;
  height: auto;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  padding: 1em 0em 1em 1em;
  color: #ffffff;
}
.subscribe button{

  border-radius: 4px;
  border-color: #ff3f40;
  width: auto;
  height: 40px;
  background-color: #ff3f40;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
/* Text style for "L, earn Mo" */
  letter-spacing: 0.32px;
  margin: 1em 0 2em 0;
}
input{
  padding: 0.5em;
  width: 55%;
  height: 25px;
}
.text_with_form{
  margin:  5em 1.7em;

}
.text_about_uswith_form p{
  width: 50%;
  opacity: 0.6;
color: #000000;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 28px;}

.with_form_area{
  margin:  5em 1.7em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 3em;

}
.text_form_area{
  margin:  0em 2em 2em 1em ;
}
.text_form_area button{

  border-radius: 4px;
  border-color: #ff3f40;
  width: 100%;
  height: 40px;
  background-color: #ff3f40;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
/* Text style for "L, earn Mo" */
  letter-spacing: 0.32px;
  margin: 1em 0 2em 0;
}
.text_form_area input{
  width: 55%;
  height: 25px;
}
#fname{
  border-radius: 4px;
  border-color: #f6f2f2;
  background-color: #f6f2f2; /* Цвет фона слоя */
      float: left; /* Обтекание по правому краю */
      width: 40%; /* Ширина слоя*/
}
#lname{
  border-radius: 4px;
  border-color: #f6f2f2;
  background-color: #f6f2f2; /* Цвет фона слоя */
    width: 50%;
  float: right;
}
#textarea{
  padding: 0.5em;
  width: 98%;
  border-radius: 4px;
  border-color: #f6f2f2;
  background-color: #f6f2f2; /* Цвет фона слоя */
}

.text_area_near_form{
  background-color: black;
  color:#f6f2f2;

}
.text_area_near_form h3{
  /*margin: 5% 5%;
  /* Style for "do you kno" */
margin: 20% 15% 0;
  width: 100%;
  height: auto;
  opacity: 0.8;
  color: #f6f2f2;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  /* Text style for "do you kno" */
  letter-spacing: 0.42px;


}
.text_area_near_form p{
margin: 5% 15%;
color: #f6f2f2;
font-size: 8px;
}

footer{
  /*стили для главного меню*/

    background-color: #2c2c2c;
    height: 10em;
    width:126%;
    margin: 0 -1% 0 ;
  }

.copyright p{
  margin: 5.8em 5em;
  opacity: 0.7;
  color: #f6f2f2;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  float: left;
}
.social-media{
    float: right;
    opacity: 8.7;
    margin: 4.5em 20em 0em 0em;
    width: auto;
}
