/*стили для главного меню*/
.main-menu{
  background-color: #2c2c2c;
  height: 4em;
  width:104%;
  margin: -8px;
  text-align: center;
}
/* Text style for "h, ome" */
.main-menu a{
  width: 43px;
height: 12px;
color: #e0e0e0;
font-family: "Open Sans";
font-size: 14px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 0.49px;
  color: #ffffff;
  text-decoration: none;
  vertical-align: -95%;
  margin: 2.3em;
  width: 100px;
  height: 200px;
}
.main-menu a:hover {
    background-color:#ff3f40; /* Цвет фона под ссылкой */
    color: #ffffff; /* Цвет ссылки */
    padding: 1.7em;
}
.main-menu a:active {
    background-color: #ff3f40; /* Цвет фона под ссылкой */
    color: #ffffff; /* Цвет ссылки */
    padding: 1.7em;
}
/* конец стилей для главного меню стили для главного меню*/



/*стили для информации про нас*/

.about_us{
  display: grid;
   grid-template-columns: 50% 50%;
  width:104%;
  background-color: #f6f2f2;
  height: auto;
  margin: 0.6em -8px ;

}
.text_about_us{
  width: 50%;
  background-color: #f6f2f2;

}
.text_about_us h1{
  margin: 5% 0;
  background-color: #f6f2f2;
  width: 588px;
  height: 117px;
  color: #000000;
  font-family: "Open Sans - Extrabold";
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  text-transform: uppercase;
/* Text style for "o, ur stro" */
  letter-spacing: 1.5px;
/* Text style for "organaisat" */
  letter-spacing: 6px;
  margin: 5% 5%;
}

.text_about_us p{
  width: 75%;
  margin: 10% 15%;
  background-color: #f6f2f2;

}
.video iframe{
  position: relative;
  align: left;
  margin: 2em;
  background-color: #f6f2f2;

  box-shadow: 0 0 20px rgba(0,0,0.5);

}


.content-type{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 9em;
}
.text-content h2{
  margin: 5% 5%;
  /* Style for "do you kno" */
  width: 493px;
  height: 87px;
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  /* Text style for "do you kno" */
  letter-spacing: 0.42px;


}
.text-content p{
  margin: 15% 10% 0;
  /* Style for "Lorem ipsu" */
width: 509px;
height: 98px;
color: #000000;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 28px;
}

.text-content button{
  margin: 0% 15%;
  border-radius: 4px ;
  border-color: #ff2d2d;
  width: 7em;
  height: 40px;
  background-color: #ffffff;
  color: #ff2d2d;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 34.06px;
/* Text style for "L, earn Mo" */
  letter-spacing: 0.32px;
}
.album_with_text {
  display: grid;
  grid-template-columns: 50% 50%;

}
.album_with_text img{
    margin: 2em 0;

}


.album_with_text h4{
  /* Style for "Management" */
  width: 154px;
  height: 24px;
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans - Semibold";
  font-size: 24px;
  font-weight: 400;
  /* Text style for "M, anageme" */
  letter-spacing: 0.27px;
  margin: -1.2em 0;
}

.album_with_text p{
  width: 271px;
height: 101px;
color: #000000;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 28px;
  margin: 2em 0;
}



/* Solid border */
hr.solid {
  border-top: 1px solid #bbb;
  width: 40%;
  align: center;
}


hr.soliding {
  border-top: 1px solid #ff2d2d;
  width: 10%;
  align: center;
}
.some-text {
  text-align: center;
  margin:  5em 0;
}
.some-text h2{

  /* Style for "feature pr" */
width: 100%;
height: 32px;
opacity: 0.8;
color: #000000;
font-family: "Open Sans";
font-size: 42px;
font-weight: 700;
text-transform: uppercase;
/* Text style for "feature pr" */
letter-spacing: 0.38px;
}

.some-text p{
  margin:  1em 23em;
  text-align: center;
  width: 504px;
  height: 45px;
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.albun-nav{
text-align: center;

}
.albun-nav a{

width: 101px;
height: 17px;
opacity: 0.7;
color: #000000;
font-family: "Open Sans - Semibold";
font-size: 22px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
/* Text style for "m, ock-up" */
letter-spacing: 0.22px;
text-decoration: none;
margin: 1em;
}


.albun-nav a:hover{

  color: #ff2d2d;
}


.albom{
    margin:  2em 13em;
  align-content: center;
}

div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #f6f2f2;
}

div.gallery img {
  width: 100%;
  height: auto;
}
